*.metadata
*.DS_STORE
*target
*RemoteSystemsTempFiles
*.log
*log/
*logs/
*repository
*repo-origin
*/.niogit/repository1.git
*/.niogit/repository1.git/*
*/.niogit/system.git
*/.niogit/system.git/*
*scripts
*scripts/*
*.recommenders
.settings/
.project
*kiserverTest
*test
